<ScrollView row="0">
    <StackLayout padding="10" *ngIf="visible_key && customer_cart_data.length > 0">
        <StackLayout *ngFor="let item of customer_cart_data;let i = index">
            <CardView class="card" elevation="0" radius="0" shadowOpacity="0" shadowOffsetWidth="0" shadowOffsetHeight="0">
                <GridLayout rows="*" columns="*,*" padding="10" verticalAlignment="center" class="border-bottom">
                    <StackLayout row="0" col="0" verticalAlignment="center" orientation="vertical" horizontalAlignment="left">
                        <Label [text]="item.product_name" textWrap="true" verticalAlignment="center" class="product_name"></Label>
                        <StackLayout orientation="horizontal">
                            <StackLayout verticalAlignment="center" orientation="horizontal">
                                <Label [text]="item.quantity * item.discounted_price | currency: currency : true:'1.0-0'" class="discounted_price" textWrap="true" *ngIf="item.discounted_price > 0"></Label>
                                <Label [text]="item.quantity * item.price | currency: currency : true:'1.0-0'" class="original_price" textWrap="true" [ngClass]="[item.discounted_price > 0 ? 'isDiscount' : '']"></Label>
                                <Label [text]="getDiscount(item.price,item.discounted_price)" class="discount" textWrap="true" *ngIf="item.discounted_price > 0"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                    <GridLayout rows="*,*" textAlignment="right" columns="auto,auto" verticalAlignment="center" row="0" col="1" class="pull-right font-weight-bold">
                        <Label text="Qty - " Color="#000" row="0" col="0" verticalAlignment="center"></Label>
                        <Label [text]="item.quantity" row="0" col="1" Color="#000" class="quantity" verticalAlignment="center"></Label>

                    </GridLayout>
                </GridLayout>
            </CardView>
        </StackLayout>
        <StackLayout class="hr-light m-10"></StackLayout>

        <CardView class="card" elevation="0" radius="0" shadowOpacity="0" shadowOffsetWidth="0" shadowOffsetHeight="0">
            <StackLayout padding="10">

                <GridLayout rows="*,*,*,*" columns="*,*" verticalAlignment="center">
                    <StackLayout verticalAlignment="center" col="0" row="0">
                        <Label class="pull-left font-weight-bold" text="Total item price"></Label>
                    </StackLayout>
                    <StackLayout verticalAlignment="center" col="1" row="0">
                        <Label class="pull-right font-weight-bold" [text]="total_item_price | currency: currency : true:'1.0-0'"></Label>
                    </StackLayout>
                    <StackLayout verticalAlignment="center" col="0" row="1">
                        <Label class="pull-left font-weight-bold" text="Total packing charge"></Label>
                    </StackLayout>
                    <StackLayout verticalAlignment="center" col="1" row="1">
                        <Label class="pull-right font-weight-bold" [text]="total_packing_price | currency: currency : true:'1.0-0'"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light m-10" row="2" colSpan="2"></StackLayout>
                    <StackLayout verticalAlignment="center" col="0" row="3">
                        <Label class="pull-left font-weight-bold" text="Total"></Label>
                    </StackLayout>
                    <StackLayout verticalAlignment="center" col="1" row="3">
                        <Label class="pull-right font-weight-bold" [text]="total_item_price + total_packing_price | currency: currency : true:'1.0-0'"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light m-t-25" row="3" colSpan="2"></StackLayout>

                </GridLayout>

            </StackLayout>
        </CardView>
        <StackLayout class="hr-light m-t-25" row="3" colSpan="2"></StackLayout>

        <Label class="section_heading" text="Shipping Address" row="0" col="0"></Label>
        <GridLayout rows="*,*" columns="*" verticalAlignment="center" row="0" col="0">
            <CardView class="card" elevation="0" radius="0" shadowOpacity="0" shadowOffsetWidth="0" shadowOffsetHeight="0">
                <Button class="btn btn-primary  " backgroundColor="#284058" color="#fff" width="50%" text="Add Address" (tap)="addAdressBox()" row="1" col="1"></Button>
            </CardView>
        </GridLayout>

        <CardView class="card" elevation="0" radius="0" shadowOpacity="0" shadowOffsetWidth="0" shadowOffsetHeight="0">
            <StackLayout class="form" [formGroup]="form" novalidate *ngIf="address_box_key">
                <GridLayout rows="auto,auto, auto, auto" padding="10">
                    <StackLayout class="input-filld" row="0">
                        <TextField hint="Address name" class="input input-border cyan-border m-t-10" borderColor="#6c6969" returnKeyType="next" formControlName="address_name" [ngClass]="displayFieldCss('address_name')"></TextField>
                        <StackLayout *ngIf="isFieldValid('address_name')" class="invalid-feedback">
                            <Label fontSize="8" text="Address name is required"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout class="input-filld" row="1">
                        <TextField hint="Address" class="input input-border cyan-border m-t-10" borderColor="#6c6969" returnKeyType="next" formControlName="address" [ngClass]="displayFieldCss('address')"></TextField>
                        <StackLayout *ngIf="isFieldValid('address')" class="invalid-feedback">
                            <Label fontSize="8" text="Address is required"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout class="input-filld" row="2">
                        <DropDown #dd class="input input-border cyan-border m-t-10" borderColor="#6c6969" [items]="state_list" hint="Select State" (selectedIndexChanged)="onchange($event)"></DropDown>
                        <StackLayout *ngIf="isFieldValid('state')" class="invalid-feedback">
                            <Label fontSize="8" text="State is required"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout class="input-filld" row="3">
                        <TextField hint="Pincode" keyboardType="number" class="input input-border cyan-border m-t-10"
                            borderColor="#6c6969" returnKeyType="done" formControlName="pincode"></TextField>
                        <StackLayout *ngIf="isFieldValid('pincode')" class="invalid-feedback">
                            <Label fontSize="8" text="Valid pincode is required"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
                <FlexboxLayout class="m-t-10">
                    <Button class="btn btn-primary" text="Cancel" (tap)="cancel()" backgroundColor="#284058" color="#fff" width="50%">
                    </Button>
                    <Button class="btn btn-primary" text="Save" (tap)="addAdress()" backgroundColor="#284058" color="#fff" width="50%">
                    </Button>
                </FlexboxLayout>

            </StackLayout>
        </CardView>


        <CardView class="card" elevation="0" radius="0" shadowOpacity="0" shadowOffsetWidth="0" shadowOffsetHeight="0">
            <StackLayout class="address_list">
                <StackLayout *ngFor="let option of addressOptions">
                    <StackLayout orientation="horizontal" verticalAlignment="center">
                        <CheckBox #elem [checked]="option.selected" (checkedChange)="elem.checked !== option.selected && changeCheckedRadioAddress(option)" class="checkbox" boxType="circle"></CheckBox>
                        <StackLayout verticalAlignment="center" (tap)="changeCheckedRadioAddress(option)">
                            <Label fontSize="15" color="#000" [text]="option.name" textWrap="true"></Label>
                            <Label fontSize="8" [text]="option.text" class="body" textWrap="true"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </CardView>



        <StackLayout class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>
        <CardView class="card" elevation="0" radius="0" shadowOpacity="0" shadowOffsetWidth="0" shadowOffsetHeight="0">
            <StackLayout class="paymonet_mode m-t-10">
                <Label class="section_heading" text="Payment Type" row="0" col="0"></Label>
                <StackLayout *ngFor="let option of paymentOptions">
                    <StackLayout orientation="horizontal" verticalAlignment="center">
                        <CheckBox #elem [checked]="option.selected" (checkedChange)="elem.checked !== option.selected && changeCheckedRadioPaymentMode(option)" class="checkbox" boxType="circle"></CheckBox>
                        <StackLayout verticalAlignment="center">
                            <Label [text]="option.text" textWrap="true" (tap)="changeCheckedRadioPaymentMode(option)"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </CardView>
        <StackLayout>
            <StackLayout class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>
            <Button class="btn btn-primary pull-right" backgroundColor="#284058" color="#fff" width="50%" text="Pay Order" (tap)="orderPay()"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>