.discounted_price {
    font-weight: 600;
    color: #000;
}

.original_price {
    color: #000;
    padding: 0 5;
}

.original_price.isDiscount {
    text-decoration: line-through;
}

.discount {
    color: #ccc;
}

.quantity {
    text-align: center;
}

.section_heading {
    color: #000;
    text-align: left;
    font-size: 15;
    font-weight: 600;
    margin-bottom: 10;
    padding: 0 12;
}

.form .input {
    background: #fff;
    height: 40;
    border-radius: 5;
    font-size: 12;
    padding: 5, 7;
}